.discover-area .list-box .icon {
  color: #820000 ;
}
.service-icon span {
  height: 54px;
  width: 54px;
  display: inline-block;
  text-align: center;
  line-height: 54px;
  font-size: 1.5rem;
  color: #820000 ;
  border-radius: 4px;
  background-color: var(--white-color);
  border: 1px solid var(--primary-l-color);
  -webkit-box-shadow: 0 1px 3px var(--primary-l-color);
  box-shadow: 0 1px 3px var(--primary-l-color);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn, .btn:active, .btn.sApp-btn:before, .benifits-item:after {
  background: #820000 ;
}

.section-heading > h2::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 70px;
  background-color: #820000 ;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.app-screenshots .slick-dots .slick-active button {
  background-color: #820000 ;
  -webkit-box-shadow: 0 1px 5px var(--primary-color-2);
  box-shadow: 0 1px 5px var(--primary-color-2);
}
.bg-shape {
  position: absolute;
  height: 190%;
  width: 100%;
  display: block;
  border-radius: 120px;
  background: #820000 ;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(35%, -28%) rotate(-35deg);
  transform: translate(35%, -28%) rotate(-35deg);
  z-index: 0;
}

.bg-overlay::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #820000 ;
  opacity: 0.94;
  z-index: -1;
}
.client-rating{
  color: #edb809;
}